extends ./layout/index 

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu interdum erat. Sed posuere a enim nec dapibus. Phasellus varius, mi sagittis dignissim dapibus, felis purus cursus odio, eget laoreet sem tortor nec nibh. Aenean ultricies mi a nibh tincidunt, id convallis metus condimentum. Curabitur tortor enim, sagittis vel maximus sed, tincidunt et orci. Donec mattis elit ac orci elementum faucibus. In dictum eros sed justo dictum pulvinar.

                p vitae molestie mi sodales non. Duis aliquam, sapien mollis interdum facilisis, libero sem scelerisque massa, eu rutrum ligula ipsum vel urna. Vivamus sed purus facilisis, iaculis leo sit amet, aliquet quam. Donec ultrices magna non eros vestibulum laoreet. Phasellus semper neque eget mi vestibulum suscipit. Nunc venenatis quis nulla id rhoncus. Vivamus scelerisque, libero vitae blandit sodales, justo ex congue elit, et pharetra odio magna sed eros. In accumsan malesuada sagittis. Donec congue elementum risus sit amet cursus. Mauris sit amet nulla rhoncus, porttitor mauris eget, cursus turpis. Vestibulum sed neque non nibh hendrerit imperdiet vitae sed ipsum. Aenean eget blandit erat. Nullam dignissim facilisis mauris, nec varius diam dictum et. 
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p it erat. Nullam dignissim facilisis mauris, nec varius diam dictum et.
                
                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p it erat. Nullam dignissim facilisis mauris, nec varius diam dictum et.

                .col-md-4   
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p it erat. Nullam dignissim facilisis mauris, nec varius diam dictum et.